.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}
  
@keyframes fade-in {
    0% {
        -webkit-transform: scale(50%);
        transform: scale(50%);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(100%);
        transform: scale(100%);
        opacity: 1;
    }
}
  
@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(25%);
        transform: translateY(25%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-25%);
        transform: translateX(-25%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
  
@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(25%);
        transform: translateX(25%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


/* Animation */
@keyframes FloatUp{
    from{ 
        transform: translateY(25%);
        opacity: 0;
    } to { 
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes FloatDown{
    from{ 
        transform: translateY(-25%);
        opacity: 0;
    } to { 
        transform: translateY(0);
        opacity: 1;
    } 
}

@keyframes FloatLeft{
    from{ 
        transform: translateX(-25%);
        opacity: 0;
    } to { 
        transform: translateX(0);
        opacity: 1;
    } 
}

@keyframes GrowUp{
    from{ 
        transform: scaleY(0);
        opacity: 0;
    } to { 
        transform: scaleY(100%);
        opacity: 1;
    } 
}

@keyframes Dropdown{
    from{ height: 0; }
    to  { height: 100%; }
}