
/* HEADER */

/* 1:: Desktop menu */
.header{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);
    background-color: var(--light);
    box-shadow: 0 2px 4px 1px #8a8a8a;
    
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -ms-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    
    -webkit-animation: ease-out 0.5s slide-in-top;
    -moz-animation: ease-out 0.5s slide-in-top;
    -ms-animation: ease-out 0.5s slide-in-top;
    -o-animation: ease-out 0.5s slide-in-top;
    animation: ease-out 0.5s slide-in-top;
}
.header .wrapper{
    height: 100%;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

/* 1:1:: Logo */
.logo{
    float: left;
    width: 200px;
    height: 100%;
    cursor: pointer;
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* 1:2:: Main navigator */
.desktop-menu .nav__list{
    display: flex;
    height: 100%;
    list-style: none;
}
.desktop-menu .nav__item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
}
.desktop-menu .nav__link{
    display: block;
    padding: 0 16px;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 1.8rem;    
    font-weight: 600;
    line-height: 80px;
    color: var(--text);
    text-transform: uppercase;
}
.desktop-menu .nav__link i{
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -ms-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}
.rotate-on-hovered:hover i{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.desktop-menu .nav__item:hover .subnav{
    display: flex;
}

/* 1:3:: Searchbox */
.header-search{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
}
.search-box{
    padding: 0 36px 0 16px;
    height: 36px;
    width: calc(100% - 16px);
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
    background-color: #f7f7f7;
    border-radius: 36px;
    border: 1px solid var(--border);
    outline: none;
}
.search-btn{
    position: absolute;
    right: 15px;
    width: 30px;
    height: 30px;
    font-size: 1.8rem;
    color: var(--text);
    background-color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}
.search-btn:hover{
    color: var(--white);
    background-color: var(--text);
}

/* 1:3:: Login button */
.desktop-login{
    margin-left: 16px;
}
.desktop-login .desktop-login-btn{
    padding: 0 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;    
    font-weight: 600;
    border-radius: 40px;
}
.desktop-login .desktop-login-btn span{
    top: 0;
}
.desktop-login .desktop-login-btn i{
    margin-right: 4px;
}

/* 1:4:: Submenu */
.desktop-menu .subnav{
    z-index: 99;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--light);
    border: 1px solid var(--light-border);

    -webkit-animation: slide-in-bottom ease-in-out 0.5s both;
    -moz-animation: slide-in-bottom ease-in-out 0.5s both;
    -ms-animation: slide-in-bottom ease-in-out 0.5s both;
    -o-animation: slide-in-bottom ease-in-out 0.5s both;
    animation: slide-in-bottom ease-in-out 0.5s both;
}
.desktop-menu .subnav__column{
    position: relative;
    padding: 16px;
    width: 20%;
    background-color: var(--light);
}
.desktop-menu .subnav__column::before{
    content: "";
    position: absolute;
    inset: 16px auto 16px 0;
    border-left: 1px solid var(--light-border);
}
.desktop-menu .subnav__column:first-of-type::before{
    display: none;
}
.desktop-menu .subnav__img{
    position: relative;
    margin-top: 8px;
    padding-top: 100%;
    width: 100%;
}
.desktop-menu .subnav__img img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.desktop-menu .subnav__list{
    list-style: none;
}
.desktop-menu .subnav__category{
    padding: 4px 8px;
    margin: 24px 0 8px;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text);
    background-color: var(--primary);
}
.desktop-menu .subnav__category:first-of-type{
    margin-top: 0;
}
.desktop-menu .subnav__item{
    padding: 4px 8px;
    cursor: pointer;
}
.desktop-menu .subnav__item:hover .subnav__link::before{
    width: calc(100% + 8px);
}
.desktop-menu .subnav__link{
    position: relative;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--text);
}
.desktop-menu .subnav__link::before{
    content: "";
    position: absolute;
    bottom: -4px;
    width: 0;
    border-bottom: 3px solid var(--primary);
    
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -ms-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}

/* 2:: Mobile menu */

/* 2:1:: Main navigator */
.mobile-menu{
    position: fixed;
    z-index: 99;
    top: var(--navbar-height);
    bottom: 0;
    left: -100%;
    background-color: #00000022;

    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -ms-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}
.mobile-menu.open{
    left: 0;
    right: 0;
}
.mobile-menu .nav__list{
    width: 100%;
    max-width: 360px;
    height: 100%;
    background-color: var(--light);
}
.mobile-menu .nav__item{
    display: block;
    width: 100%;
}
.mobile-menu .nav__category{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}
.mobile-menu .nav__link{
    display: block;
    padding: 0 24px;
    height: 100%;
    flex: 1;
    line-height: 60px;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text);
}
.mobile-menu .collapse-subnav-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60px;
    font-size: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.mobile-menu .collapse-subnav-btn i{
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}
.mobile-menu .nav__item input:checked + .subnav{
    height: 300px;
}
.mobile-menu .subnav{
    height: 0;
    overflow: hidden;
    transform-origin: top;

    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}
.mobile-menu .subnav__list{
    display: block;
    background-color: var(--light-border);
}
.mobile-menu .subnav__item{
    height: 60px;
}
.mobile-menu .subnav__link{
    display: block;
    padding: 0 32px;
    height: 100%;
    flex: 1;
    line-height: 60px;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--text);
    border-bottom: 1px solid var(--light);
}
.mobile-menu .subnav__link:hover{
    background-color: var(--primary);
}

/* 2:2:: User info */
.mobile-login .nav__category{
    padding: 10px 24px;
}
.mobile-login .mobile-login-btn{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* 2:3:: Mobile search */
.mobile-search{
    position: relative;
}
.mobile-search .nav__category{
    justify-content: center;
}
.mobile-search .search-box{
    width: calc(100% - 32px);
}
.mobile-search .search-btn{
    right: 19px;
}

/* 2:4:: Mobile button */
.mobile-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

/* 2:4:1:: Collapse menu button */
.collapse-menu-btn{
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -ms-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}
.collapse-menu-btn span{
    display: block;
    position: relative;
    width: 36px;
    height: 3px;
    background-color: var(--text);
    border-radius: 3px;
    border: none;

    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -ms-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}
.collapse-menu-btn span::before,
.collapse-menu-btn span::after{
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    background-color: var(--text);
    border-radius: 3px;
    border: none;

    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -ms-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
}
.collapse-menu-btn span::before{
    transform: translateY(12px);
}
.collapse-menu-btn span::after{
    transform: translateY(-12px);
}
.collapse-menu-btn.open span{
    transform: translateX(-42px);
    background-color: transparent;
}
.collapse-menu-btn.open span::before{
    transform: rotate(45deg) translate(30px, -30px);
}
.collapse-menu-btn.open span::after{
    transform: rotate(-45deg) translate(30px, 30px);
}

/* 2:4:2:: Mobile cart button */
.home-cart-btn{
    color: var(--text);
}
.home-cart-btn i{
    position: relative;
    top: 8px;
    font-size: 3.2rem;
}
.home-cart-btn span{
    display: block;
    position: absolute;
    left: calc(50% - 2px);  
    top: 2px;
    transform: translate(-50%, 50%);
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text);
    background-color: var(--primary);
    border-radius: 16px;
}

/* SHORTCUT */

.shortcut{
    position: fixed;
    z-index: 99;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.shortcut__list{
    position: relative;
    text-align: right;
    list-style: none;
    border: none;
}
.shortcut__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}
.shortcut__link{
    text-decoration: none;
    font-size: 2rem;
    color: var(--light-border);
}

/* 1:: Shortcut cart */
.shortcut__list:first-child{
    margin-bottom: 40px;
    background-color: var(--primary);
}
.shortcut__list:first-child:hover{
    background: linear-gradient(to  right bottom, #ffe77b, var(--primary));
}
.shortcut__list:first-child .shortcut__link{
    font-size: 2.4rem;
    color: var(--text);
}
.shortcut__list .cart-quantity{
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text);
    border-radius: 16px;
}

/* 2:: Shortcut tool */
.shortcut__list:last-child{
    background-color: var(--gray-dark);
}
.shortcut__list:last-child .shortcut__item:hover .shortcut__link{
    color: var(--white);
}

/* 3:: bubble chat */

/* BACK-TO-TOP */

.back-to-top{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    color: var(--light-border);
    background-color: var(--gray);
    border-radius: 2px;
    pointer-events: none; 
    opacity: 0;
}
.back-to-top.active{
    pointer-events: auto; 
    opacity: 1;
}
.back-to-top:hover{
    color: var(--white);
    background-color: var(--gray-dark);
}

/* FOOTER */

/* 1:: Footer container */
.footer{
    margin-top: 80px;
    width: 100%;
    background-color: var(--text);
}
.footer__content{
    width: 100%;
}
.footer__list{
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
    width: 100%;
    list-style: none;
}

/* 2:: Footer column */
.footer__column {
    margin-top: 48px;
    width: 20%;
    text-align: left;
}
.footer__column .footer__title{
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--light);
}
.footer__column ul{
    list-style: none;
}
.footer__column ul li{
    margin-bottom: 8px;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--gray);
    text-align: justify;
}
.footer__column ul li a{
    display: block;
    padding: 4px 0;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--gray);
}
.footer__column ul li a:hover{
    color: var(--white);
}

/* 2:1:: Footer last column */
.footer__column:last-child .footer__title{
    display: flex;
    justify-content: right;
    height: 60px;
}
.footer__column:last-child ul li{
    margin-top: 16px;
}
.footer__column:last-child ul li:first-child{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.footer__column:last-child ul li:first-child a{
    font-size: 2.4rem;
    text-align: right;
}
.footer__column:last-child ul li:last-child{
    text-align: right;
}
.footer__column:last-child ul li:last-child a{
    display: inline-block;
    padding: 4px 8px;
    width: initial;
    border-radius: 4px;
    border: 1px solid var(--light-border);
}
.footer__column:last-child ul li:last-child a:hover{
    color: var(--text);
    background-color: var(--light);
    border: 1px solid var(--light-border);
}

/* 3:: Footer policy */
.footer__policy{
    margin-top: 40px;
    padding: 8px 8px;
}
.footer__policy li{
    margin-right: 24px;
}
.footer__policy a{
    display: block;
    padding: 4px 0;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--gray);
}
.footer__policy a:hover{
    color: var(--white);
}

/* 4:: Footer copyright */
.footer__copyright{
    padding: 24px 8px;
    border-top: 1px solid var(--gray);
}
.footer__copyright .footer__title{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--gray);
}